@use 'index' as *;

// Hero Section
.hero {
  aspect-ratio: 144/64;
  width: 100%;
  height: auto;
  position: relative;
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hero-content {
    position: absolute;
    left: 10rem;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    img{
      width: 29.5rem;
      height: 23.2rem;
    }
    .hero-text{
      display: flex;
      flex-direction: column;
      gap: 7px;
      p{
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: 10%;
        font-weight: 300;
        text-transform: uppercase;
        color: $bege;
      }
      span{
        font-weight: 400;
        font-family: $miller;
      }
    }
  }
  @media screen and (max-width: 700px) {
    aspect-ratio: 36/40;
    .hero-content {
      left: 9%;
      top: 20%;
      transform: translate( 0);
      width: 100%;
      text-align: left;
      img{
          width: 12rem;
          height: 9.4rem;
      }
      .hero-text{
        gap: 2px;
        p{
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 0.9px;
            width: 22rem;
        }
      }
    }
  }
}


// Sobre Section
.sobre {
  padding: 14rem 0;
  .sobre-wrapper {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    .sobre-image {
      width: 100%;
      max-width: 51rem;
      overflow: hidden;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .sobre-content h2 {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
      line-height: 2.6rem;
      text-transform: uppercase;
      letter-spacing: 5%;
    }
    
    .sobre-subtitle {
      font-size: 2.2rem;
      margin-bottom: 2.6rem;
      line-height: 2.2rem;
      font-family: $miller;
      font-weight: 400;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 5%;
    }
    
    .sobre-text {
      font-size: 2rem;
      line-height: 2.8rem;
      margin: 5.5rem 0;
      width: 61rem;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 7rem 0;
    .sobre-wrapper {
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
      gap: 6rem;
      .sobre-image{
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        height: auto;
        margin-top: 2rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .sobre-content{
        width: 100%;
        h2, .sobre-subtitle{
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: 5%;
        }
        .sobre-subtitle{
          margin-bottom: 2rem;
        }
        .sobre-text{
          margin: 4rem 0;
          font-size: 1.6rem;
          line-height: 2.2rem;
          width: 100%;
          letter-spacing: 1px;
        }
      }
    }
  }
}


// Serviços Section
.servicos{
  padding-bottom: 14rem;
  .servicos-grid {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 6rem;
    .servico-item {
      display: flex;
      gap: 3.5rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .servico-image {
        overflow: hidden;
        aspect-ratio: 61/41;
        width: 61rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .button{
      justify-content: center;
    }
  }
  @media screen and (max-width: 700px) {
    padding-bottom: 7rem;
    .servicos-grid {
      width: 90%;
      max-width: 90%;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3.5rem;
      .servico-item {
        gap: 1.6rem;
        .servico-image {
          width: 100%;
          max-width: 100%;
          aspect-ratio: 316/220;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          font-size: 1.4rem;
          line-height: 1.4rem;
          letter-spacing: 5%;
        }
      }
      .button{
        margin-top: 1rem;
      }
    }
  }
}

// Touch Section
.touch-section {
  padding: 7.8rem 5% 8.5rem;
  background-color: $background2;
  display: flex;
  gap: 10.5rem;

  .touch-left{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 29.5rem;
    .touch-title{
      font-size: 4rem;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 5rem;
      color: $bege;
      span{
        font-weight: 400;
        font-family: $miller;
        font-style: italic;
      }
    }
    .touch-description {
      font-size: 2rem;
      line-height: 3rem;
      color: $bege;
      letter-spacing: 2%;
      font-weight: 400;
    }
  }
  #swiper{
    .swiper-slide{
      width: 40rem !important;
      display: grid;
      gap: 2.2rem;
      grid-template-rows: 50rem auto;
      place-items: start;
      img{
        width: 100%;
        height: 50rem;
      }
      p{
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2%;
        color: $bege;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    padding: 4rem 5%;
    gap: 3rem;
    .touch-left{
      width: 100%;
      gap: 2rem;
      .touch-title{
        font-size: 2.4rem;
        line-height: 3rem;
      }
      .touch-description {
        font-size: 1.6rem;
        line-height: 2.1rem;
        width: 23.3rem;
      }
    }
    #swiper{
      width: 100%;
      overflow: hidden;
      .swiper-slide{
        width: 23.2rem !important;
        gap: 1.1rem;
        grid-template-rows: 29rem auto;
        img{
          height: 29rem;
        }
        p{
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

// Projetos Section
.projetos {
  padding: 12rem 5%;
  margin: auto;
  .projetos-wrapper {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    h3 {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    .projetos-up{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      .projeto-item {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
      }
    }
    .projeto-bottom{
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
      width: 100%;
      aspect-ratio: 124/50;
      height: auto;
      object-fit: cover;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .button{
      margin: auto;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 6rem 5%;
    .projetos-wrapper {
      gap: 3.5rem;
      width: 100%;
      max-width: 100%;
      h3{
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
      .projetos-up, .projeto-bottom{
        flex-direction: column;
        gap: 3.5rem;
        width: 100%;
        img{
          aspect-ratio: 315/215;
          width: 100%;
          height: auto;
        }
        .projeto-item{
          gap: 1.6rem;
        }
      }
    }
  }
}


// Depoimento Section
.depoimento {
  padding: 0rem 5% 14rem;
  position: relative;
  margin: auto;
  .depoimento-wrapper {
    max-width: 1500px;
    display: flex;
    gap: 15rem;
    .depoimento-left{
      width: 32rem;
      h3{
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 3rem;
        letter-spacing: 5%;
      }
      span{
        font-family: $miller;
        font-style: italic;
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    #swiper2{
      margin-left: 5rem;
      padding-bottom: 9rem;
      .swiper-slide{
        z-index: 100;
        position: relative;
        padding-left: 5rem;
        svg{
          position: absolute;
          top: 0;
          left: 0;
        }
        p{
          font-size: 2rem;
          line-height: 2.6rem;
          letter-spacing: 2%;
          width: 71.5rem !important;
        }
        h4{
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 2.6rem;
        }
      }
      .swiper-pagination{
        position: absolute;
        margin-left: 5rem;
        text-align: left;
        .swiper-pagination-bullet-active{
          background-color: $background2;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    padding: 0rem 5%;
    .depoimento-wrapper{
      flex-direction: column;
      gap: 3rem;
      width: 100%;
      max-width: 100%;
      .depoimento-left{
        width: 100%;
        gap: 2rem;
        h3{
          font-size: 2rem;
          line-height: 2.5rem;
        }
        span{
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
      #swiper2{
        margin-left: 0;
        padding-bottom: 6rem;
        overflow: hidden;
        .swiper-wrapper{
          width: 100%;
        }
        .swiper-slide{
          padding-left: 3rem;
          padding-top: 1rem;
          width: 100% !important;
          svg{
            width: 1.6rem;
          }
          p{
            width: 28rem !important;
            font-size: 1.6rem;
            line-height: 2rem;
          }
          h4{
            font-size: 1.6rem;
            line-height: 1.6rem;
          }
        }
        .swiper-pagination{
          position: absolute;
          margin-left: 0rem;
          text-align: left;
          left: 50vw;
          bottom: 2rem;
          transform: translateX(-4%);
          .swiper-pagination-bullet-active{
            background-color: $background2;
          }
        }
      }
    }
  }
}
