@use 'index' as *;

.intro{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    gap: 30rem;
    margin: 9rem auto 11rem;
    h1{
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 10%;
        text-transform: uppercase;
    }
    p{
        font-size: 2rem;
        line-height: 2.6rem;
        letter-spacing: 5%;
        max-width: 72rem;
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        margin: 4rem auto 3.6rem;
        h1{
            font-size: 1.6rem;
            line-height: 1.6rem;
            font-weight: 500;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0%;
            max-width: 100%;
        }
    }
}

.main-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto 4rem;
    gap: 2rem;
    .project-main{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
        img{
            aspect-ratio: 61/41;
            width: 61rem;
            height: auto;
        }
        h2{
            font-size: 2rem;
            line-height: 3.8rem;
            letter-spacing: 2%;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        margin: 0 auto 3rem;
        .project-main{
            gap: 1.6rem;
            img{
                aspect-ratio: 316/216;
                width: 100%;
                height: auto;
            }
            h2{
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        }
    }
}

.other-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto 12rem;
    gap: 2rem;
    .project-other{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
        img{
            aspect-ratio: 40/30;
            width: 40rem;
            height: auto;
        }
        h2{
            font-size: 2rem;
            line-height: 3.8rem;
            letter-spacing: 2%;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        margin: 0 auto 0rem;
        .project-other{
            gap: 1.6rem;
            img{
                aspect-ratio: 316/216;
                width: 100%;
                height: auto;
            }
            h2{
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        }
    }
}