@use 'index' as *;

.marcia{
    display: flex;
    gap: 10rem;
    width: 85%;
    max-width: 140rem;
    margin: 9rem auto;
    .right-marcia{
        h2{
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: 10%;
            text-transform: uppercase;
            font-weight: 400;
        }
        p{
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 0%;
            font-weight: 400;
            margin-top: 16rem;
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        width: 90%;
        max-width: 100%;
        margin: 5rem auto;
        .right-marcia{
            display: flex;
            flex-direction: column;
            gap: 3.4rem;
            h2{
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
                margin-top: 0;
            }
        }
    }
}
.about{
    display: flex;
    gap: 10rem;
    width: 85%;
    max-width: 140rem;
    margin: auto;
    margin-bottom: 10rem;
    align-items: center;
    .right-about{
        p{
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 0%;
            font-weight: 400;
        }
    }
    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        gap: 3.4rem;
        .left-about{
         width: 100%;   
         img{
            width: 100%;
         }
        }
        .right-about{
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 85%;
    max-width: 103rem;
    margin: auto;
    margin-bottom: 10rem;
    align-items: center;
    p{
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 0%;
        font-weight: 400;
        text-align: center;
    }
    h5{
        font-size: 2.2rem;
        line-height: 3rem;
        letter-spacing: 0%;
        font-weight: 400;
        text-align: center;
    }
    @media screen and (max-width: 700px) {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        gap: 3rem;
        margin-top: 3.4rem;
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        h5{
            font-size: 1.7rem;
            line-height: 2.3rem;
        }
    }
}