---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/page.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>PROJETO A&F | CLOSET</h1>
        <h3>Descrição </h3>
        <p>
            Este projeto de organização de closet foi desenvolvido para valorizar o acervo da cliente e facilitar a rotina diária, unindo funcionalidade, estética e praticidade. Cada categoria — roupas, bolsas, sapatos e acessórios — foi pensada de forma estratégica, com soluções que priorizam visualização clara, preservação das peças e uso inteligente do espaço, criando um closet funcional, organizado e visualmente harmônico.
        </p>
    </section>


    <section class="images">
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/closet1.png" alt="">
                <p>bolsas</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/closet2.png" alt="">
                <p>bolsas</p>
            </div>
        </div>
        <div class="second-row">
            <div class="item-row">
                <img src="../../img/pages/closet3.png" alt="">
                <p>bolsas e sapatos</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/closet4.png" alt="">
                <p>vestidos</p>
            </div>
        </div>
        <div class="third-row">
            <div class="item-row">
                <img src="../../img/pages/closet5.png" alt="">
                <p>gaveta de meias</p>
            </div>
        </div>
    </section>
   

{% include 'footer.njk' %}
