---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/page.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>PROJETO CZ</h1>
        <h3>Descrição </h3>
        <p>
            Projeto de manutenção focado em revisar, ajustar e preservar a funcionalidade dos sistemas de organização já implementados, garantindo praticidade, harmonia visual e adaptação contínua à rotina da casa.
        </p>
    </section>


    <section class="images">
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/cz1.png" alt="">
                <!-- <p>despensa</p> -->
            </div>
            <div class="item-row">
                <img src="../../img/pages/cz2.png" alt="">
                <!-- <p>espaço gourmet</p> -->
            </div>
        </div>
        <div class="second-row">
            <div class="item-row">
                <img src="../../img/pages/cz3.png" alt="">
                <!-- <p>closet masculino</p> -->
            </div>
            <div class="item-row">
                <img src="../../img/pages/cz4.png" alt="">
                <!-- <p>gaveta closet masculino</p> -->
            </div>
        </div>
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/cz5.png" alt="">
                <!-- <p>louçaria</p> -->
            </div>
            <div class="item-row">
                <img src="../../img/pages/cz6.png" alt="">
                <!-- <p>louçaria</p> -->
            </div>
        </div>
    </section>
   

{% include 'footer.njk' %}
