---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/page.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>PROJETO A&F | ESPAÇO GOURMET</h1>
        <h3>Descrição </h3>
        <p>
            Para este espaço gourmet, que integra área pub e mesa de jogos, a organização precisava acompanhar a proposta do ambiente: funcional, charmosa e pensada para o uso real do dia a dia.
            <br/><br/>
            Cada escolha foi feita para valorizar a experiência no espaço, unindo estética e praticidade. Para isso, desenvolvemos um organizador de talheres sob medida, em parceria com a @newboxdesign, garantindo aproveitamento inteligente e coerência com o projeto.
        </p>
    </section>


    <section class="images">
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/gourmet1.png" alt="">
                <p>bandeja de café</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/gourmet2.png" alt="">
                <p>itens decorativos para mesa posta</p>
            </div>
        </div>
        <div class="second-row">
            <div class="item-row">
                <img src="../../img/pages/gourmet3.png" alt="">
                <p>gaveta de talheres</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/gourmet4.png" alt="">
                <p>copos e taças</p>
            </div>
        </div>
    </section>
   

{% include 'footer.njk' %}
