---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/page.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>PROJETO VIVA HOME MARKET</h1>
        <h3>Descrição </h3>
        <p>
            Projeto de organização do estoque da Viva Home Market, focado em estrutura, categorização e fluidez operacional. A organização por categorias, o uso de caixas identificadas e a definição de áreas específicas de apoio garantem visualização clara dos produtos, eficiência no dia a dia e manutenção da organização ao longo do tempo.
        </p>
    </section>


    <section class="images">
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/viva1.png" alt="">
                <p>Estoque</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/viva2.png" alt="">
                <p>Bancada para preparo de embalagens</p>
            </div>
        </div>
        <div class="second-row">
            <div class="item-row">
                <img src="../../img/pages/viva3.png" alt="">
                <p>Estoque</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/viva4.png" alt="">
                <p>Estoque</p>
            </div>
        </div>
    </section>
   

{% include 'footer.njk' %}
