---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/projetos.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>Projetos</h1>
        <p>Transformar espaços vai muito além de organizar. Nos projetos desenvolvidos por Marcia Mizu, cada detalhe é pensado de forma inteligente, funcional e estética, criando ambientes que refletem praticidade e leveza no dia a dia.</p>
    </section>
    <section class="main-projects">
        <div class="project-main">
            <img src="../../img/projetos/projeto1.png" alt="Projeto 1">
            <h2>projeto a&f</h2>
        </div>
        <div class="project-main">
            <img src="../../img/projetos/projeto2.png" alt="Projeto 2">
            <h2>projeto c&z</h2>
        </div>
       
    </section>
    <section class="other-projects">
        <div class="project-other">
            <img src="../../img/projetos/projeto3.png" alt="Projeto 3">
            <h2>projeto m&g</h2>
        </div>
        <div class="project-other">
            <img src="../../img/projetos/projeto4.png" alt="Projeto 4">
            <h2>projeto viva</h2>
        </div>
        <div class="project-other">
            <img src="../../img/projetos/projeto5.png" alt="Projeto 5">
            <h2>projeto APF</h2>
        </div>
    </section>

{% include 'footer.njk' %}
