$background: #f6f8f0;
$background2: #5d7156;

$branco: #fff;
$preto: #000;

$bege: #d0d3c2;




// cores sara belo
$marrom: #9c5c45;

$azul-100: #c4faff;
$azul-300: #d4faff;
$azul-500: #71ccff;
$azul-900:   #0b425e;

$rosa: #ffd2e2;
$verde: #e5ffca;
