---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/page.css"
---

{% include 'nav.njk' %}

    <section class="intro">
        <h1>PROJETO M&G </h1>
        <h3>Descrição </h3>
        <p>
            A família procurou apoio pouco tempo após a mudança, buscando aproveitar melhor os espaços e organizar um acervo maior de forma funcional. O projeto teve como foco otimizar cada ambiente com soluções práticas e harmônicas, trazendo mais clareza para a rotina e leveza para o dia a dia, por meio da organização da cozinha, lavanderia, despensa e espaço gourmet.
        </p>
    </section>


    <section class="images">
        <div class="first-row">
            <div class="item-row">
                <img src="../../img/pages/mg1.png" alt="">
                <p>Gaveta de talheres sob medida</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/mg2.png" alt="">
                <p>Gaveta de talheres e facas sob medida</p>
            </div>
        </div>
        <div class="second-row">
            <div class="item-row">
                <img src="../../img/pages/mg3.png" alt="">
                <p>Organizador sob medida para jogos americanos</p>
            </div>
            <div class="item-row">
                <img src="../../img/pages/mg4.png" alt="">
                <p>DESPENSA</p>
            </div>
        </div>
    </section>
   

{% include 'footer.njk' %}
