---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<!-- HERO SECTION -->
<header class="hero">
  <img class="hero-background tablet-desktop" src="../img/home/header.png" alt="">
  <img class="hero-background only-mobile" src="../img/home/header-mob.png" alt="">
  <div class="hero-content">
    <img src="../img/home/logo-header.png" alt="">
    <div class="hero-text">
      <p>Organização que transforma</p>
      <p><span>espaços </span>em <span>leveza</span></p>
      <p><span>rotinas </span>em <span>bem-estar.</span></p>
    </div>
 
  </div>
</header>

<!-- SOBRE SECTION -->
<section class="sobre">
  <div class="sobre-wrapper">
    <div class="sobre-image tablet-desktop">
      <img src="../img/home/marcia.png" alt="foto da Márcia Mizu">
    </div>
    <div class="sobre-content">
      <h2>Organização profissional</h2>
      <div class="sobre-subtitle">
        para a vida real.
      </div>
      <h2>
        Seu espaço ideal começa
      </h2>
      <div class="sobre-subtitle">com harmonia.</div>
      <img class="sobre-image only-mobile" src="../img/home/marcia.png" alt="foto da Márcia Mizu">
      <div class="sobre-text">
        <p>Cada ambiente molda como você vive, trabalha e sente.<br/>Organizar é criar fluxo, devolver leveza à rotina e revelar o potencial do espaço  seja ele seu lar, seu escritório ou qualquer lugar onde sua vida acontece.</p>
        <p>A Márcia Mizu oferece soluções personalizadas para pessoas que buscam harmonia, funcionalidade e bem-estar  com sofisticação, atenção aos detalhes e praticidade para a rotina real.</p>
      </div>
      <a href="https://wa.me/5541996973888" target="_blank" class="button">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11" cy="11" r="11" fill="#5D7156"/>
        </svg>
        <span>entre em contato</span>
      </a>
    </div>
  </div>
</section>

<!-- SERVIÇOS SECTION -->
<section class="servicos">
  <div class="servicos-grid">
    <a href="/servicos/?type=residencial" class="servico-item">
      <div class="servico-image">
        <img src="../img/home/residencial.png" alt="Organização Residencial">
      </div>
      <h3>organização residencial</h3>
    </a>
    <a href="/servicos/?type=empresarial" class="servico-item">
      <div class="servico-image">
        <img src="../img/home/empresarial.png" alt="Organização Empresarial">
      </div>
      <h3>organização empresarial</h3>
    </a>
    <a href="/servicos/?type=comercial" class="servico-item">
      <div class="servico-image">
        <img src="../img/home/comercial.png" alt="Organização Comercial">
      </div>
      <h3>organização comercial</h3>
    </a>
    <a href="/servicos/?type=mudanca" class="servico-item">
      <div class="servico-image">
        <img src="../img/home/mudanca.png" alt="Organização de Mudança">
      </div>
      <h3>organização de mudança</h3>
    </a>
    <a href="/servicos/?type=lifestyle" class="servico-item">
      <div class="servico-image">
        <img src="../img/home/lifestyle.png" alt="Organização de Mudança">
      </div>
      <h3>organização lifestyle</h3>
    </a>
    <a href="/servicos" class="button">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="11" fill="#9C5C45"/>
      </svg>
      <span>saiba mais sobre nossos serviços</span>
    </a>
  </div>
</section>

<!-- TOUCH EXCLUSIVO SECTION -->
<section class="touch-section">
  <div class="touch-left">
    <h2 class="touch-title">nosso<br>toque<br/><span class="touch-subtitle">exclusivo</span></h2>
    <p class="touch-description">Diferenciais que unem técnica, estilo e um olhar apurado para o que realmente importa.</p>
  </div>
  <div class="swiper" id="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../img/home/swiper1.png" alt="">
        <p>planejamento interno de projetos</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/home/swiper4.png" alt="">
        <p>EQUIPE CAPACITADA COM CERTIFICAÇÃO EM PERSONAL ORGANIZER</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/home/swiper5.png" alt="">
        <p>ORGANIZAÇÃO DE PONTA A PONTA, COM SUPORTE TOTAL</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/home/swiper2.png" alt="">
        <p>treinamento corporativo</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/home/swiper3.png" alt="">
        <p>treinamento de funcionários</p>
      </div>

    </div>
  </div>
</section>

<!-- PROJETOS SECTION -->
<section class="projetos">
  <div class="projetos-wrapper">
    <div class="projetos-up">
      <div class="projeto-item">
        <img src="../img/home/projeto1.png" alt="Projeto A&F">
        <h3>projeto a&f | espaço gourmet</h3>
      </div>
      <div class="projeto-item">
        <img src="../img/home/projeto2.png" alt="Projeto C&L">
        <h3>projeto c&l | closet</h3>
      </div>
      <div class="projeto-item">
        <img src="../img/home/projeto3.png" alt="Projeto M&G">
        <h3>projeto m&g</h3>
      </div>
    </div>
    <div class="projeto-bottom">
      <img src="../img/home/projeto4.png" alt="Projeto VIVA">
      <h3>projeto vhm</h3>
    </div> 
    <a href="/projetos" class="button">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="11" fill="#9C5C45"/>
      </svg>
      <span>veja nossos projetos</span>
    </a>
  </div>
</section>

<!-- DEPOIMENTO SECTION -->
<section class="depoimento">
  <div class="depoimento-wrapper">
    <div class="depoimento-left">
      <h3><span>Experiências</span><br/>Que refletem nosso<br/><span>Trabalho</span></h3>
    </div>
    <div class="swiper" id="swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.31999 18.96C1.67999 18.96 -9.53674e-06 16.96 -9.53674e-06 13.92C-9.53674e-06 9.44004 2.71999 4.08003 11.92 3.43323e-05L12.08 0.400039C7.59999 2.72004 4.15999 6.08004 2.63999 10.64H5.27999C8.31999 10.64 9.43999 12.32 9.43999 14.08C9.43999 16.56 7.35999 18.96 4.31999 18.96ZM17.92 18.96C15.28 18.96 13.6 16.96 13.6 13.92C13.6 9.44004 16.32 4.08003 25.52 3.43323e-05L25.68 0.400039C21.2 2.72004 17.76 6.08004 16.24 10.64H18.88C21.92 10.64 23.04 12.32 23.04 14.08C23.04 16.56 20.96 18.96 17.92 18.96Z" fill="black"/>
          </svg>
          <p class="depoimento-text">
            Márcia gostaria de agradecer imensamente o trabalho executado por vc e sua equipe! Nosso lar é nosso refúgio, um dos bens mais preciosos que temos! Vc consegue compreender e traduzir tudo que gostamos e precisamos! Muita atenção, personalização, carinho, cuidado, respeito, confiança e competência de sobra! Profissional especializada de grande experiência. Muito obrigado e Parabéns!! Pelo trabalho, pela equipe e profissionalismo!! Gratidão!
          </p>
          <h4>Cristiano</h4>
        </div>
        <div class="swiper-slide">
          <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.31999 18.96C1.67999 18.96 -9.53674e-06 16.96 -9.53674e-06 13.92C-9.53674e-06 9.44004 2.71999 4.08003 11.92 3.43323e-05L12.08 0.400039C7.59999 2.72004 4.15999 6.08004 2.63999 10.64H5.27999C8.31999 10.64 9.43999 12.32 9.43999 14.08C9.43999 16.56 7.35999 18.96 4.31999 18.96ZM17.92 18.96C15.28 18.96 13.6 16.96 13.6 13.92C13.6 9.44004 16.32 4.08003 25.52 3.43323e-05L25.68 0.400039C21.2 2.72004 17.76 6.08004 16.24 10.64H18.88C21.92 10.64 23.04 12.32 23.04 14.08C23.04 16.56 20.96 18.96 17.92 18.96Z" fill="black"/>
          </svg>
          <p class="depoimento-text">
            Márcia querida, muito obrigada por esse dias de organização aqui em casa!! Vocês todas tem uma energia contagiante que conseguem transformar uma coisa “chata e cansativa” em momentos gostosos e divertido. Vocês estão fazendo parte de um momento tão importante da minha vida que pra mim foi um prazer dividir esta realização com toda a equipe. Já estou morrendo de saudades de todas ❤️ muitos beijos e muito sucesso para todas nós 🥰
          </p>
          <h4>Tatyana Novais</h4>
        </div>
        <div class="swiper-slide">
          <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.31999 18.96C1.67999 18.96 -9.53674e-06 16.96 -9.53674e-06 13.92C-9.53674e-06 9.44004 2.71999 4.08003 11.92 3.43323e-05L12.08 0.400039C7.59999 2.72004 4.15999 6.08004 2.63999 10.64H5.27999C8.31999 10.64 9.43999 12.32 9.43999 14.08C9.43999 16.56 7.35999 18.96 4.31999 18.96ZM17.92 18.96C15.28 18.96 13.6 16.96 13.6 13.92C13.6 9.44004 16.32 4.08003 25.52 3.43323e-05L25.68 0.400039C21.2 2.72004 17.76 6.08004 16.24 10.64H18.88C21.92 10.64 23.04 12.32 23.04 14.08C23.04 16.56 20.96 18.96 17.92 18.96Z" fill="black"/>
          </svg>
          <p class="depoimento-text">
            Mais uma vez, muito obrigada a vc e toda equipe, por organizar nossa casa, trazer harmonia e paz para o nosso lar, e nos fazer mais leves e felizes já neste início de 2024! Casa e família com energia renovada pelas mãos mágicas, mentes brilhantes e corações quentes de cada uma de vcs, sem exceção, todas impecáveis. Gratos por mais esta vez, que venham sempre mais. Márcia, querida, como já sabe, te amamos e vc é essencial em nossas vidas. Que tenha sempre o melhor deste mundo também no seu lar e na sua família!
          </p>
          <h4>Melissa Cachoni</h4>
        </div>
        <div class="swiper-slide">
          <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.31999 18.96C1.67999 18.96 -9.53674e-06 16.96 -9.53674e-06 13.92C-9.53674e-06 9.44004 2.71999 4.08003 11.92 3.43323e-05L12.08 0.400039C7.59999 2.72004 4.15999 6.08004 2.63999 10.64H5.27999C8.31999 10.64 9.43999 12.32 9.43999 14.08C9.43999 16.56 7.35999 18.96 4.31999 18.96ZM17.92 18.96C15.28 18.96 13.6 16.96 13.6 13.92C13.6 9.44004 16.32 4.08003 25.52 3.43323e-05L25.68 0.400039C21.2 2.72004 17.76 6.08004 16.24 10.64H18.88C21.92 10.64 23.04 12.32 23.04 14.08C23.04 16.56 20.96 18.96 17.92 18.96Z" fill="black"/>
          </svg>
          <p class="depoimento-text">
            Eu e meu marido ficamos encantados com o trabalho de vocês! Cada cantinho da casa ficou impecável, estamos muito felizes! Parabéns pelo capricho e obrigada pelo carinho e pela gentileza de cada uma 🙏🏼❤️ Que Deus abençoe abundantemente!"
          </p>
          <h4>Gabriela Wanzo Malucelli</h4>
        </div>
        <div class="swiper-slide">
          <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.31999 18.96C1.67999 18.96 -9.53674e-06 16.96 -9.53674e-06 13.92C-9.53674e-06 9.44004 2.71999 4.08003 11.92 3.43323e-05L12.08 0.400039C7.59999 2.72004 4.15999 6.08004 2.63999 10.64H5.27999C8.31999 10.64 9.43999 12.32 9.43999 14.08C9.43999 16.56 7.35999 18.96 4.31999 18.96ZM17.92 18.96C15.28 18.96 13.6 16.96 13.6 13.92C13.6 9.44004 16.32 4.08003 25.52 3.43323e-05L25.68 0.400039C21.2 2.72004 17.76 6.08004 16.24 10.64H18.88C21.92 10.64 23.04 12.32 23.04 14.08C23.04 16.56 20.96 18.96 17.92 18.96Z" fill="black"/>
          </svg>
          <p class="depoimento-text">
            Marcinha, muito obrigada!!!Você é uma profissional excelente! Mostrou-se muito sensível para entender a particularidade da nossa rotina e promover a transformação do ambiente com maior organização, espaço, estética e funcionalidade. Realmente o seu trabalho é impecável!!!! Parabéns
          </p>
          <h4>Dani Amaral</h4>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


{% include 'footer.njk' %}


<script>
  const swiper = new Swiper('#swiper', {
    slidesPerView: 'auto',
    spaceBetween: 20,
    loop: true,
    breakpoints: {
      300: {
        spaceBetween: 16,
      },
      1260: {
        spaceBetween: 20,
      },
    }
  });


  const swiper2 = new Swiper('#swiper2', {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      300: {
        spaceBetween: 16,
      },
      1260: {
        spaceBetween: 20,
      },
    }
  });
</script>