---
title: Marcia Mizu - Organização com Propósito
layout: "base.njk"
cssPath: "/css/sobre.css"
---

{% include 'nav.njk' %}

<section class="marcia">
    <div class="left-marcia tablet-desktop">
        <img src="../img/sobre/marcia.png" alt="Marcia Mizu">
    </div>
    <div class="right-marcia">
        <h2>Marcia Mizu</h2>
        <img class="only-mobile" src="../img/sobre/marcia.png" alt="Marcia Mizu">
        <p>Curitibana, neta de japoneses e apaixonada por harmonia, Marcia Mizu alia sensibilidade e método para transformar espaços e rotinas. É formada em Administração de Empresas, com especialização em Marketing, Pós Graduação em Planejamento e Gestão de Negócios pela FAE, além de curso internacional na University of Evansville (EUA). Sua trajetória como Personal Organizer começou de forma espontânea, ao ajudar uma amiga recém-divorciada a reorganizar o lar. O resultado foi tão transformador que despertou um novo propósito: levar transformação, leveza, bem-estar e funcionalidade aos ambientes e às pessoas.</p>
    </div>
</section>

<section class="about">
    <div class="left-about">
        <img src="../img/sobre/team.png" alt="Equipe da Marcia Mizu">
    </div>
    <div class="right-about">
        <p>Desde 2016, à frente da Marcia Mizu Consultoria e Soluções em Organização, atua em residências e empresas, unindo técnica, estética e empatia. Com formações pela OZ Organize e Decoração de Ambientes pelo Centro Europeu, e experiência em consultoria, gestão, governança e decoração corporativa, Marcia acredita que a verdadeira organização vai além do espaço: ela reflete equilíbrio, clareza e novas possibilidades de vida. Mais do que organizar, ela ajuda a ressignificar — porque um espaço em harmonia é também um convite a uma nova forma de viver.</p>
    </div>
</section>

<section class="contato">
    <p>
        Mais do que ambientes organizados, busco criar espaços que <b>acolham, inspirem e funcionem.</b>
        <br/>Acredito no equilíbrio entre o belo e o prático, no cuidado com os detalhes e no valor de cada gesto dentro de um lar ou de uma empresa. Organizar é um ato de cuidado — com o espaço, com o tempo e com a vida.
    </p>
    <h5>
        Transforme seu espaço em um lugar que funciona para você. Vamos organizar?
    </h5>
    <a href="https://wa.me/5541996973888" target="_blank" class="button">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11" cy="11" r="11" fill="#5D7156"/>
        </svg>
        <span>entre em contato</span>
      </a>
</section>


{% include 'footer.njk' %}
